<!DOCTYPE html>
<html>
<head>
  <title>Fwitter</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="/assets/application.scss">
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="/assets/application.js"></script>
  <%#= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
