<!DOCTYPE html>
<html>
<head>
  <title>Fwitter</title>

  <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- <script type="text/javascript" src="/assets/application"></script> -->

  <!-- <link rel="stylesheet" href="/assets/application.scss"> -->

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#usersTweet").on("mouseover",function(){
        window.alert("STAAAAHP!")
      })
    })
  </script>   -->
</head>
<body>

<%= yield %>

</body>
</html>
