<h1>MAKE A TWEET...GO AHEAD, MAKE ONE</h1>

<%= form_tag tweets_path do %>
  <%= text_field_tag :content, "", placeholder: 'Content'%>
  <%= text_field_tag :user_id, "", placeholder: 'User ID Number' %>
  <%= submit_tag %>
<% end %>
