<div id="allUsersTweets">

  <div id="tweetUsername"><%= @user.username %>'s Tweets!</div>

  <div id="usersTweet">
    <% @user.tweets.each do |tweet| %>
      <div id="usersTweetContent"><p><%= tweet.content %></p></div>
      <br>
      <div id="editUserTweet"><p><%= link_to 'Edit This Tweet', edit_tweet_path(tweet) %></p></div>
      <br><br>
    <% end %>
  </div>

</div>
