<!-- Step 1 -->
  <!-- <script type = "text/javascript"
          src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <script type="text/javascript" language="javascript">
    $(document).ready(function(){
      $("div#usertweetContent").on("mouseover", function(e){
        window.alert("Hey! Staaaap")
      })
    })
  </script> -->

<div id="allUsersTweets">

  <div id="tweetUsername"><%= @user.username %>'s Tweets!</div>

  <div id="usersTweet">
    <% @user.tweets.each do |tweet| %>
      <div id="usersTweetContent"><p><%= tweet.content %></p></div>
      <br>
      <div id="editUserTweet"><p><%= link_to 'Edit This Tweet', edit_tweet_path(tweet) %></p></div>
      <br><br>
    <% end %>
  </div>

</div>
